.hunch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 200px;
}
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top h1 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    line-height: 58.59px;
    text-align: left;
    width: 509px;
    height: 59px;


}

.top p {
    width: 565px;
    height: 90px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}

.top a {
    width: 523px;
    height: 23px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    line-height: 23.44px;
    text-align: left;
    margin-top: 20px;
    color: rgba(0, 255, 167, 1);
}
.bottom {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
    width: 718px;
    height: 317px;
    border-radius: 10px 10px 10px 10px;
    background: #1C715C;
}
.video{
    margin-bottom: 120px;
}